@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100vw;
  overflow: hidden;
}
body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  background: #f9f9f9 !important;
}

header {
  font-weight: 500;
}

.v-breadcrumbs {
  font-size: 13px;
  color: #5f5f5f;
  padding-left: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  @apply text-dark;
}

.primary-gradient {
  background: linear-gradient(210.64deg, #2485fd 6.88%, #1859fe 91.15%), #2653f2 !important;
}

.green-gradient {
  background: linear-gradient(210.64deg, #52cf5c 6.88%, #2bb641 91.15%), #2653f2 !important;
}

.bg-gray {
  background: #e2e2e2 !important;
}

.v-container {
  max-width: 1300px !important;
}
